/* Styles généraux */
.root {
    -fx-background-color: #f4f4f4;
}

/* Styles des boutons */
.button-primary {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
}

.button-warning {
    -fx-background-color: #ffc107;
    -fx-text-fill: black;
}

.button-danger {
    -fx-background-color: #dc3545;
    -fx-text-fill: white;
}

.button-secondary {
    -fx-background-color: #6c757d;
    -fx-text-fill: white;
}

.button-success {
    -fx-background-color: #28a745;
    -fx-text-fill: white;
}

/* Style du formulaire */
.form-container {
    -fx-background-color: white;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 0);
    -fx-background-radius: 5;
}

.form-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 10 0;
}

/* Style de la barre de recherche */
.text-field {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

/* Style du tableau */
.table-view {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}